hw_2/es_himmelblau.exe
hw_1/HW1 Report Shremshock.pdf
hw_1/max_ones/max_ones_output_converge.txt
hw_1/max_ones/max_ones_output.txt
hw_1/rosenbrock/rosenbrock_output.txt
hw_2/sga_himmelblau.exe
.vscode/tasks.json
hw_1/max_ones/sga_max_ones.exe
hw_1/rosenbrock/sga_rosenbrock.exe
hw_3/Tuning Surfaces.xlsx
hw_3/sga_tuning.exe
